<div class="upgrade-schema block block--white">
  <div class="usa-grid">
    <div class="usa-width-one-whole">
      <h2>Code.json Upgrader</h2>

      <p>Please enter your version 1.0.1 code.json file below in order to upgrade it to 2.0.0.</p>
    </div>
  </div>

  <div class="upgrade-schema__tool">
    <div class="usa-grid">
      <section class="upgrade-schema__before l-block--small usa-width-one-whole">
        <header class="usa-grid">
          <div>
            <div class="usa-width-two-thirds">
              <h3>Code.json v1.0.1</h3>
            </div>
            <div class="usa-width-one-third">
              <form>
                <button class="usa-button usa-button-small" (click)="upgradeContent()">Upgrade</button>
              </form>
            </div>
          </div>
        </header>
        <monaco-editor
            fileName="before-1.0.1.json"
            [text]="beforeText"
            [(editor)]="beforeEditor">
        </monaco-editor>
        <!-- <textarea [ngModel]="codeJson" (ngModelChange)="setCodeJson($event)"></textarea> -->
      </section>

      <section class="upgrade-schema__after l-block--small usa-width-one-whole">
        <header>
          <h3>Code.json v2.0.0</h3>
        </header>
        <monaco-editor
            [(editor)]="afterEditor"
            fileName="after-2.0.0.json"
            [(editor)]="afterEditor"
            [(model)]="afterModel"
            [(monaco)]="monaco">
        </monaco-editor>
        <monaco-validator
            [editor]="afterEditor"
            [model]="afterModel"
            [monaco]="monaco">
        </monaco-validator>
        <!-- <textarea [ngModel]="upgradedCodeJson"></textarea> -->
      </section>
    </div>
  </div>
</div>
