<div class="block block--white">
  <h2>Code.json Validator</h2>

  <p>Please enter your code.json file below in order to validate it correctly meets the specification.</p>

  <div class="schema-validator__tool" [ngClass]="{'valid': hasInput() && isValid(), 'invalid': hasInput() && !isValid()}">
    <section class="schema-validator__input">
      <header>
        <h3>Code.json</h3>
      </header>
      <monaco-editor
          [text]="codeJson"
          (onDidChangeModelDecorations)="onDidChangeModelDecorations($event)"
          (onDidCreateEditor)="onDidCreateEditor($event)"
          (onDidCreateModel)="onDidCreateModel($event)"
          (onDidChangeModel)="onDidChangeModel($event)">
      </monaco-editor>
      <div id="messages" style="height:185px;overflow:scroll;">
        <h4>Problems</h4>
        <p *ngIf="errors.length === 0">
          No errors found!
        </p>
        <ul *ngIf="errors.length > 0">
          <li *ngFor="let error of errors">
            <a simplePageScroll href="#codeJsonInput" (click)="scrollToError(error)">{{error.options.hoverMessage[0].value}} <span class="error__line-number">({{error.startMarker.position.lineNumber}}, {{error.startMarker.position.column}})</span></a>
          </li>
        </ul>
      </div>
    </section>

    <!-- <section class="schema-validator__messages" *ngIf="codeJson.length">
      <header>
        <h3>Messages</h3>
      </header>

      <table *ngIf="errors?.length">
        <thead>
          <tr>
            <th>Field</th>
            <th>Error</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let error of errors">
            <td>{{error.dataPath}}</td>
            <td>{{error.message}}</td>
            <td>{{error.data}}</td>
          </tr>
        </tbody>
      </table>

      <p *ngIf="!errors?.length">
        Valid code.json!
      </p>
    </section> -->
  </div>
</div>
