@import '../../../../styles/base/all';

.schema-validator {

}

.schema-validator__tool {
  border: 1px solid $color-gray-lighter;
  border-radius: 8px;
}

.schema-validator__input {
  header {
    background-color: $color-gray-lightest;
    border-bottom: none;
    border-radius: 8px 8px 0 0;
    padding: 1.5rem;

    h3 {
      padding-top: 9px;
      padding-bottom: 9px;
    }

    form {
      text-align: end;

      label {
        margin: 0;
        margin-right: 1rem;
      }

      select {
        display: inline-block;
        width: 90px;
      }
    }
  }

  h3 {
    margin: 0;
  }
}
